<div id="login-form-wrap">
	<div *ngIf="loginError" class="alert alert-danger" role="alert">
		Incorrect Email or Password!
	</div>
	<h2>Login</h2>
	<form id="login-form">
		<p>
			<input
				type="email"
				id="email"
				name="email"
				placeholder="Email"
				required
				[(ngModel)]="email" /><i class="validation"><span></span><span></span></i>
		</p>
		<p>
			<input
				type="password"
				id="password"
				name="password"
				placeholder="Password"
				required
				[(ngModel)]="password" /><i class="validation"><span></span><span></span></i>
		</p>
		<p>
			<button
				id="login"
				class="d-flex align-items-center justify-content-center"
				(click)="login()">
				Login
				<div class="spinner-border text-light ms-3" role="status" *ngIf="loading">
					<span class="visually-hidden">Loading...</span>
				</div>
			</button>
		</p>
	</form>
	<div id="create-account-wrap">
		<p>Not a member? <a routerLink="/register">Create Account</a></p>
		<p></p>
	</div>
</div>
