.card-title {
    padding-bottom: 1rem;
    border-bottom: 2px solid #a6daed;
    color: #253c78;
}

.card-edit-btn,
.card-delete-btn,
.comment-delete-btn,
.comment-edit-btn {
    border: none;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    color: white;
}



.card-edit-btn,
.comment-edit-btn {
    background-color: #253c78;
}

.card-delete-btn,
.comment-delete-btn {
    background-color: darkred;
}

.card-edit-btn:hover,
.comment-edit-btn:hover {
    background-color: #53a2be;
    color: black;

}

.card-delete-btn:hover,
.comment-delete-btn:hover {
    background-color: #ff7f7f;
    color: black;
}

.card {
    border-radius: 20px;
    border: none;
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 12px; */
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;


}

.comment-delete-btn,
.comment-edit-btn {
    padding: 0.5rem 1.25rem;
}


.tag-text {
    border: 2px solid #253c78;
    border-radius: 20px;
    padding: 0.25rem 0.5rem;
    color: #53a2be;
}

.tag-heading {
    color: #253c78;
}

.comments {
    margin-top: 2rem;
    border-top: 2px solid #eee;
}

input {
    border-radius: 20px;
}

.comment-user {
    color: #253c78;
    margin: 0;
    border-bottom: 1px solid #eee;
}

.comment-content {
    margin: 0.5rem 0rem;
}

.comment-postedat {
    font-size: 0.75rem;
    margin: 0;
    color: #53a2be
}