/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #253c78;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #53a2be;
}